[submodule "extendedKalmanFilterComponent"]
	path = extendedKalmanFilterComponent
	url = http://people.mech.kuleuven.be/~tdelaet/git/extendedKalmanFilterComponent.git
[submodule "youbot_hardware"]
	path = youbot_hardware
	url = http://git.mech.kuleuven.be/robotics/youbot_hardware.git
