<launch>

  <include file="$(find youbot_description)/launch/youbot_with_wall_description.launch"/>
  <include file="$(find youbot_description)/launch/youbot_with_wall_publisher.launch"/>

  <include file="$(find remote_simulation)/findPoseLaserGazebo.launch"/>

  <node  name="youbot" pkg="ocl" type="deployer-gnulinux" required="true" launch-prefix="xterm -e" args="-s $(find remote_simulation)/morseSimulationRemote.ops --">
  </node>

</launch>
